{% extends 'base.html' %}
{% block start %}
<div class="row">
    <!-- left side -->
     
     {% include 'dashboard/sidebar.html' %}


    <!-- right side -->
     <div class="col-md-9">
        <h4>Logged in as <strong style="color: rgb(66, 79, 220);">{{request.user}}</strong></h4>
        <div class="row">
            <div class="col">
                <div class="card boarder-default mb-3">
                    <div class="card-header text-center text-upper font-weight-bold">All categories</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title text-center">{{category_count}}</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card boarder-default mb-3">
                    <div class="card-header text-center text-upper font-weight-bold">All Posts</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title text-center">{{posts_count}}</h5>
                    </div>
                </div>
            </div>
        </div>
     </div>

</div>
{% endblock %}