{% extends 'base.html' %}
{% block start %}
<div class="row">
    <!-- left side -->
    {% include 'dashboard/sidebar.html' %}

    
    <!-- right side -->
    <div class="col-md-9">
        {% if perms.auth.view_user %}
        <h2>All Users</h2>
        <span><a href="{% url 'add_user' %}" class="btn btn-dark text-light float-right">Add New</a></span>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Full Name</th>
                    <th>Username </th>
                    <th>Email </th>
                    <th>Is_Active</th>
                    <th>Is_Staff</th>
                    <th>Is_SuperUser</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{% if user.is_active %}<i class="fa-solid fa-circle-check text-success"></i>{% else %}<i class="fa-solid fa-circle-xmark text-danger"></i>{% endif %}</td>
                    <td>{% if user.is_staff %}<i class="fa-solid fa-circle-check text-success"></i>{% else %}<i class="fa-solid fa-circle-xmark text-danger"></i>{% endif %}</td>
                    <td>{% if user.is_superuser %}<i class="fa-solid fa-circle-check text-success"></i>{% else %}<i class="fa-solid fa-circle-xmark text-danger"></i>{% endif %}</td>
                    
                    <td>
                        <a href="{% url 'edit_user' user.id %}"><i class="fa-solid fa-pen-to-square text-success"></i></a>
                        &nbsp;
                        <a href="{% url 'delete_user' user.id %}"><i class="fa-solid fa-trash text-danger"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h3>You don't have permission</h3>
        {% endif %}
    </div>


</div>
{% endblock %}